<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sagebionetworks.researchstack.backbone.interop" >
    <application>
        <activity
            android:name=".ViewSageBackboneInteropTaskActivity"
            android:windowSoftInputMode="adjustResize"
            />
    </application>
</manifest>
