<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.researchstack.foundationexampleapp">

    <application
        android:name="org.researchstack.kotlinbackbonesampleapp.FoundationApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoundationApp">

        <activity android:name="org.researchstack.kotlinbackbonesampleapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
