<manifest package="co.touchlab.researchstack.sampleapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="co.touchlab.researchstack.skin.ui.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="co.touchlab.researchstack.skin.ui.MainActivity"
            android:label="@string/activities"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="co.touchlab.researchstack.backbone.ui.ViewTaskActivity"
            android:label="@string/app_name"
            />

        <activity
            android:name="co.touchlab.researchstack.skin.ui.SignUpTaskActivity"
            android:label="@string/app_name"
            />

        <activity
            android:name="co.touchlab.researchstack.skin.ui.EmailVerificationActivity"
            android:label="@string/app_name"
            />

        <activity
            android:name="co.touchlab.researchstack.skin.ui.OnboardingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Onboarding"
            />

        <activity
            android:name="co.touchlab.researchstack.skin.ui.ViewVideoActivity"
            android:label="@string/app_name"
            />

        <activity
            android:name="co.touchlab.researchstack.backbone.ui.ViewWebDocumentActivity"
            android:label="@string/app_name"
            />

        <activity android:name="co.touchlab.researchstack.skin.ui.ViewFragmentActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="co.touchlab.researchstack.skin.ui.ViewLicensesActivity"
            android:label="@string/app_name"
            />

    </application>

</manifest>
